.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.closeBtn {
  font-size: 1.5rem;
  border: none;
  background: transparent;
  position: absolute;
  top: 0.6rem;
  right: 0.9rem;
  cursor: pointer;
}
